body
{
  font-family: Arial, serif;
  font-size: 13px;
}

h2
{
  color: red;
}

.chart div
{
  background-color: steelblue;
  color: white;
  margin: 4px 0;
  text-indent: 10px;
  padding: 4px 0;
}

.chart rect
{
  fill: steelblue;
}

.chart text
{
  fill: white;
  font: 13px sans-serif;
  text-anchor: end;
}

.circle_tut circle
{
  fill: steelblue;
}

#info_screen
{
  position: fixed;
  right: 10px;
  top: 10px;
  border: 1px solid #c1c1c1;
  width: 300px;
  padding: 10px;
}